---
import Container from "../../components/container.astro";
import {Button} from "../ui/button";
import Dropdown from "./dropdown.astro";
import {StickyHeader, Astronav, MenuItems, MenuIcon} from "astro-navbar";

interface MenuItem {
  title: string;
  path: string;
  children?: MenuItem[];
}

const menuitems: MenuItem[] = [
  {
    title: "Casestudies",
    path: "#casestudies",
  },

  {
    title: "Our Secret Sauce",
    path: "#profitability",
  },
  {
    title: "Services",
    path: "#services",
  },
];
---

<StickyHeader
  class="sticky top-0 border-b z-20 transition-all"
  scrollY={50}
  defaultClass="py-5 border-transparent"
  activeClass="py-2 bg-background/80 border-zinc-400 backdrop-blur-lg"
  transition:persist
>
  <Container>
    <div
      class="flex flex-col lg:flex-row justify-between items-center relative z-10"
    >
      <Astronav>
        <div class="flex w-full lg:w-auto items-center justify-between">
          <a
            href="/"
            class="focus-visible:shadow-outline-shadow -ml-2 flex items-center rounded-full px-2 font-thunder text-3xl uppercase transition focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 md:text-4xl"
          >
            <span class="font-extrabold text-accent">Ecom</span>
            <span class="text-zinc-950">Explorer</span>
          </a>
          <div class="block lg:hidden">
            <MenuIcon class="w-7 h-7 text-zinc-800" />
          </div>
        </div>
        <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
          <!-- <ul class="flex flex-col lg:flex-row lg:gap-3 items-center">
            {
              menuitems.map((item, index) => (
                <>
                  {item.children && (
                    <Dropdown
                      title={item.title}
                      children={item.children}
                      lastItem={index === menuitems.length - 1}
                    />
                  )}

                  {!item.children && (
                    <li>
                      <a
                        href={item.path}
                        class="flex lg:px-3 py-2 text-xl md:text-base  text-zinc-800 hover:text-accent hover:underline underline-offset-4 duration-200 focus-visible:ring-2 focus-visible:ring-offset-2 transition focus-visible:ring-accent focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full"
                      >
                        {item.title}
                      </a>
                    </li>
                  )}
                </>
              ))
            }
          </ul> -->
          <div
            class="lg:hidden flex items-center mt-3 gap-4 w-full justify-center"
          >
            <a href="https://lp.ecomexplorer.com.au/questionnaire-mac">
              <Button
                size="default"
                className="group flex w-full items-center rounded-full font-thunder font-bold uppercase"
              >
                Get Started Today
              </Button>
            </a>
          </div>
        </MenuItems>
      </Astronav>
      <div>
        <div class="hidden lg:flex items-center gap-4">
          <a href="https://lp.ecomexplorer.com.au/questionnaire-mac">
            <Button size="default">Get Started Today</Button>
          </a>
        </div>
      </div>
    </div>
  </Container>
</StickyHeader>
